@font-face {
	font-family: 'Clear Sans';
	src: url('../fonts/ClearSans-Regular.ttf');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	overflow-anchor: none;
	margin: 0;
	font-family: "Clear Sans", sans-serif;
	font-weight: 400;
	background-color: #ffffff;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1 {
    text-align: center;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

:root {
	--accent-color: #5D71DD;
    --hover-color: #2A44D3;
	--dark-color: #2F2222;
	--grid-gap: 40px;
}

.container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}

/*-------- for social networks -----------*/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 75px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: var(--dark-color);
}

.fa-facebook {
    background: var(--accent-color);
}

.fa-telegram {
    background: #118cff;
}

/*-------- for head -----------*/

.nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    background-color: var(--accent-color);
}

.nav_item {
    display: flex;
    flex: 1;
}

.nav_item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    color: white;
    padding: 0 10px;
}

.nav_item:hover {
    background-color: #2a44d3;
}

/*-------- for main -----------*/

.section_post {
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 38px -7px rgba(34, 60, 80, 0.35);
    -moz-box-shadow: 0px 0px 38px -7px rgba(34, 60, 80, 0.35);
    box-shadow: 0px 0px 38px -7px rgba(34, 60, 80, 0.35);
}

.flex_item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section_item {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.post_img {
    width: 200px;
    border-radius: 20px;
}

.post_title {
    top: 25px;
    position: absolute;
    font-size: 25px;
}

.post_description {
    padding: 15px;
}

.post_details {
    display: block;
    min-width: 150px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    background-color: var(--accent-color);
}

.post_details:hover {
    background-color: #2a44d3;
}

.main_post {
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin-bottom: 50px;
    background: url('../img/waves.png');
    background-size: cover;
}

/*-------- for foot -----------*/

.footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #2a44d3;
    color: white;
    text-align: center;
}

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}